aioitertools
aiosignal
alabaster
anaconda-project
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
atomicwrites==1.4.0
Automat
autopep8
Babel
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
binaryornot
bleach
boltons
Brotli
cachetools
chardet
charset-normalizer
clyent==1.2.2
colorama
colorcet
comm
conda-pack
conda-repo-cli==1.0.75
conda-token
conda-verify==3.4.2
cycler
decorator
defusedxml
diff-match-patch
distlib==0.3.8
dnspython==2.6.1
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing
fastapi==0.112.0
fastjsonschema
flake8
fonttools==4.25.0
future
gensim
gitdb
gmpy2
h11==0.14.0
HeapDict
hyperlink
idna
imagesize
inflection==0.5.1
iniconfig
intake
intervaltree
ipython-genutils
isort
itemadapter
itsdangerous
jaraco.classes
jedi
json5
jsonpatch
jsonpointer==2.1
jupyterlab-pygments
kiwisolver
lazy-object-proxy
libarchive-c
linkify-it-py
locket
Markdown
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
mkl-service==2.4.0
msgpack
multipledispatch
munkres==1.1.4
numpydoc
openpyxl==3.0.10
pandas==2.2.1
pandocfilters
paramiko
parso
pathlib
pathspec
patsy==0.5.3
pexpect
pickleshare
pipenv==2024.0.1
plotly
pluggy
ply==3.11
prometheus-client
Protego
protobuf==3.20.3
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules==0.2.8
pycodestyle
